* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    background-color: white;
    border-style: solid;
    border-color: black;
    margin: 1%;
    overflow: hidden;
    text-align: center;
}

.header {
    background-color: rgb(202, 189, 189);
    margin: 1%;
    height: 100px;
    line-height: 100px;
}

.nav {
    background-color: rgb(202, 189, 189);
    margin: 1%;
}

.section {
    float: left;
    background-color: rgb(202, 189, 189);
    height: 300px;
    width: 61%;
    margin: 1%;
    line-height: 100px;
}

.aside {
    float: right;
    background-color: rgb(202, 189, 189);
    height: 300px;
    width: 35%;
    margin: 1%;
    line-height: 100px;
}

.footer {
    float: right;
    background-color: rgb(202, 189, 189);
    height: 100px;
    margin: 1%;
    width: 98%;
    line-height: 100px;
}